
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    padding: 30px;
}

/*#radialtree{*/
/*}*/

.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    /*  pointer-events: none;	This line needs to be removed */
}

.tnt_tree_node circle {
    fill: #34a0a4;
    stroke: #34a0a4;
}

/*#interactive-div{*/
/*    overflow-x: scroll;*/
/*}*/

.node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: 0.5;
    stroke: #3182bd;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
    pointer-events: none;
}

.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}